<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div>
        <h1><%= pokemon.name %></h1>
        <img src="<%= pokemon.img %>">
        <h3>TYPES</h3>
        <%= pokemon.type %>
        <h3>HP</h3>
        <%= pokemon.stats.hp %>
        <h3>ATTACK</h3>
        <%= pokemon.stats.attack %>
        <h3>DEFENSE</h3>
        <%= pokemon.stats.defense %>
    </div>
</body>
</html>